//
//                                                        ▀▀▀▀▀     ▀▀▀▀▀          ▀▀█▀▀
//                                                        ▄▀▀▀▄  ▄  ▄▀▀▀▄  ▄  ▄▀▀▀▄  █  ▄▀▀▀▄
//                                                        █   █  █  █   █  █  █   █  █  █   █
//                                                         ▀▀▀   █   ▀▀▀   █   ▀▀▀   ▀   ▀▀▀
//                                                               █      ▄▄▄█▄▄▄    █   █  
//                                                               ▀      █  █  █     █▄█
//                                                             ▀▀▀▀▀    █  █  █      ▀
//                                                                      ▀  ▀  ▀
//
// ▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

#define Base        0
#define Nav         1
#define Sym         2
#define Qwerty      3

// #define Fun         3
// #define Game        4
// #define Gameplus    5
// #define Qwerty      6

&mt {
    quick-tap-ms = <100>;
    global-quick-tap;
    flavor = "tap-preferred";
    tapping-term-ms = <170>;
};

&lt {
    tapping-term-ms = <240>;
    flavor = "hold-preferred";
    quick-tap-ms = <150>;
};

/ {
    behaviors {
        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_MODS";
            #binding-cells = <2>;
            flavor = "balanced";
            tapping-term-ms = <200>;
            quick-tap-ms = <125>;
            global-quick-tap;
            bindings = <&kp>, <&kp>;
        };

        tdl: tap_dance_left {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp HOME>, <&tog 1>, <&tog 2>;
        };

        tdr: tap_dance_right {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp END>, <&caps_word>, <&tog 3>;
        };

        htdl: holdlayer_tapdance_left {
            compatible = "zmk,behavior-hold-tap";
            label = "HTDL";
            bindings = <&mo>, <&tdl>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            hold-while-undecided;
        };

        htdr: holdlayer_tapdance_right {
            compatible = "zmk,behavior-hold-tap";
            label = "HTDR";
            bindings = <&mo>, <&tdr>;

            #binding-cells = <2>;
            hold-while-undecided;
            tapping-term-ms = <200>;
        };
    };

    combos {
        compatible = "zmk,combos";

        macrolayer {
            bindings = <&mo 1>;
            key-positions = <0 10>;
            layers = <0>;
        };

        lpar {
            bindings = <&kp LEFT_PARENTHESIS>;
            key-positions = <3 4>;
            layers = <0>;
        };

        rpar {
            bindings = <&kp RIGHT_PARENTHESIS>;
            key-positions = <5 6>;
            layers = <0>;
        };

        lbracket {
            bindings = <&kp LEFT_BRACKET>;
            key-positions = <13 14>;
            layers = <0>;
        };

        rbracket {
            bindings = <&kp RIGHT_BRACKET>;
            key-positions = <15 16>;
            layers = <0>;
        };

        numberslayer {
            bindings = <&mo 3>;
            key-positions = <13 33>;
            layers = <0>;
        };

        tobaselayer {
            bindings = <&to 0>;
            key-positions = <36 35 37>;
        };

        togamelayer {
            bindings = <&to 4>;
            key-positions = <32 33 34>;
            layers = <0>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        Base {
            display-name = "Base";
            bindings = <
           &kp B       &kp Y       &kp O        &kp U          &kp APOSTROPHE    &kp SEMICOLON  &kp L         &kp D        &kp W           &kp V
           &hm LGUI C  &hm LALT I  &hm LCTRL E  &hm LSHIFT A   &kp COMMA         &kp PERIOD     &hm RSHIFT H  &hm RCTRL T  &hm LEFT_ALT S  &hm LEFT_GUI N
&htdl 1 0  &kp G       &kp X       &kp J        &kp K          &kp Q             &kp Z          &kp R         &kp M        &kp F           &kp P           &htdr 2 0
                                   &kp ESC      &kp BACKSPACE  &kp DELETE        &kp ENTER      &kp SPACE     &kp TAB
            >;
        };

        Macros {
            bindings = <
       &none  &kp LS(LG(LEFT))  &kp LS(LG(UP))    &kp LS(LG(RIGHT))  &none             &none          &none        &none         &none      &none
       &none  &kp LG(LEFT)      &kp LG(UP_ARROW)  &kp LG(RIGHT)      &kp LEFT_SHIFT    &none          &kp LEFT     &kp UP_ARROW  &kp RIGHT  &kp LEFT_CONTROL
&none  &none  &none             &kp LG(DOWN)      &none              &none             &none          &none        &kp DOWN      &none      &none             &none
                                &kp C_MUTE        &kp C_VOL_UP       &kp C_VOL_DN      &kp LC(SLASH)  &kp LA(TAB)  &kp LEFT_ALT
            >;
        };

        Sym {
            display-name = "Sym";
            bindings = <
           &kp EXCL   &kp AT         &kp HASH         &kp DOLLAR  &kp PERCENT         &kp F1  &kp F2          &kp F3            &kp F4   &kp F5
           &kp MINUS  &kp PLUS       &kp UNDERSCORE   &kp SLASH   &kp BACKSLASH       &trans  &kp LEFT_SHIFT  &kp LEFT_CONTROL  &kp F11  &kp F12
&kp GRAVE  &kp CARET  &kp AMPERSAND  &kp KP_ASTERISK  &kp EQUAL   &kp SINGLE_QUOTE    &kp F6  &kp F7          &kp F8            &kp F9   &kp F10  &trans
                                     &trans           &trans      &trans              &trans  &trans          &trans
            >;
        };

        Numbers {
            bindings = <
       &none  &none  &none  &none  &none    &kp KP_MULTIPLY  &kp KP_N7        &kp KP_N8     &kp KP_NUMBER_9  &none
       &none  &none  &none  &none  &none    &kp KP_PLUS      &kp KP_NUMBER_4  &kp KP_N5     &kp KP_NUMBER_6  &kp KP_DIVIDE
&none  &none  &none  &none  &none  &none    &kp KP_MINUS     &kp KP_NUMBER_1  &kp KP_N2     &kp KP_N3        &kp PIPE       &none
                     &none  &none  &none    &kp KP_DOT       &kp KP_N0        &kp KP_EQUAL
            >;
        };

        Gaming {
            bindings = <
          &kp ESC    &kp Q  &kp W  &kp E      &kp R      &kp T   &kp Y   &kp U   &kp I  &kp O
          &kp LSHFT  &kp A  &kp S  &kp D      &kp F      &kp G   &kp H   &kp J   &kp K  &kp L
&kp LALT  &kp LCTRL  &kp Z  &kp X  &kp C      &kp V      &kp B   &kp N   &kp M   &kp P  &kp BSPC  &kp ENTER
                            &kp M  &kp SPACE  &kp TAB    &kp N1  &kp N2  &kp N3
            >;
        };

        Qwerty {
            display-name = "Qwerty";
            bindings = <
        &kp Q  &kp W  &kp E   &kp R   &kp T     &kp Y   &kp U   &kp I      &kp O       &kp P
        &kp A  &kp S  &kp D   &kp F   &kp G     &kp H   &kp J   &kp K      &kp L       &kp SEMI
&trans  &kp Z  &kp X  &kp C   &kp V   &kp B     &kp N   &kp M   &kp COMMA  &kp PERIOD  &kp SLASH  &trans
                      &trans  &trans  &trans    &trans  &trans  &trans
            >;
        };
    };
};
